{% extends '_base.html' %}

{% load bootstrap3 %}
{% load i18n %}



{% block content %}
    <div class="palindrome-block">
        <div class="block-wrapper">
            <form action="{% url 'palindrome:result' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <a href="{% url 'home' %}" class="btn btn-primary">
                    {# Translators: Палиндром. Главная страница. Кнопка назад #}
                    {% trans 'palindrome_home_page_back_button' %}
                </a>
                <button type="submit" class="btn btn-success">
                    {# Translators: Палиндром. Главная страница. Кнопка проверить #}
                    {% trans 'palindrome_home_page_test_button' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}