{% extends '_base.html' %}

{% load bootstrap3 %}
{% load i18n %}



{% block content %}
    <div class="result-block">
        <div class="block-wrapper">
            <div>
                <div class="result-text">
                    {% if palindrome %}
                        {# Translators: Палиндром. Страница результата. Текст результата #}
                        {% trans 'palindrome_result_page_true_result' %}
                    {% else %}
                        {# Translators: Палиндром. Страница результата. Текст результата #}
                        {% trans 'palindrome_result_page_false_result' %}
                    {% endif %}
                </div>
                <a href="{% url 'palindrome:home' %}" class="btn btn-primary">
                    {# Translators: Палиндром. Страница результата. Кнопка назад #}
                    {% trans 'palindrome_result_page_back_button' %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}