{% extends '_base.html' %}

{% load bootstrap3 %}
{% load i18n %}



{% block content %}
    <div class="accounts-login-block">
        <div class="block-wrapper">
            <form class="login-form" action="#" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">
                    {# Translators: Страница логина. Кнопка входа #}
                    {% trans 'login_page_join_button' %}
                </button>
            </form>
            <div class="social_buttons">
                <a class="facebook" href="{% url 'social:begin' 'facebook' %}" data-icon="&#xe021;"></a>
                <a class="vkontakte" href="{% url 'social:begin' 'vk-oauth2' %}" data-icon="&#xe002;"></a>
                <a class="google-plus" href="#" data-icon="&#xe01b;"></a>
                <div class="of-google-plus" id="signinButton">
                    <span class="g-signin"
                          data-scope="{{ plus_scope }}"
                          data-clientid="{{ plus_id }}"
                          data-redirecturi="postmessage"
                          data-accesstype="offline"
                          data-cookiepolicy="single_host_origin"
                          data-callback="googlePlusSignInCallback">
                    </span>
                </div>
                <form id="google-plus" method="post" action="{% url 'social:complete' "google-plus" %}">
                    {% csrf_token %}
                    <input id="at" type="hidden" name="access_token" value="" />
                    <input id="code" type="hidden" name="code" value="" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}