.palindrome-block {
  width: 200px;
  @extend .hv-center;
  .block-wrapper {
    width: 200px;
    form {
      width: 200px;
      height: 100px;
      .btn-primary {
        width: 49%;
        margin: 0;
      }
      .btn-success {
        width: 49%;
        position: absolute;
        right: 0px;
        margin: 0;
      }
    }
  }
}
