.result-block {
  width: 200px;
  @extend .hv-center;
  .block-wrapper {
    width: 200px;
    div {
      width: 200px;
      height: 48px;
      .result-text {
        text-align: center;
        margin: 0;
      }
      .btn-primary {
        width: 49%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
