{% extends '_base.html' %}

{% load bootstrap3 %}
{% load i18n %}



{% block header %}{% endblock %}

{% block content %}
    <div class="core-home-block">
        <div class="block-wrapper">
            <a href="{% url 'palindrome:home' %}" class="btn btn-lg btn-primary">
                {# Translators: Домашняя страница. Кнопка палиндрома #}
                {% trans 'home_page_palindrome_button' %}
            </a>
            <a href="{% if user.is_authenticated %}{% url 'blog:blog_page' user.username 1 %}{% else %}{% url 'accounts:login'%}{% endif %}" class="btn btn-lg btn-primary">
                {# Translators: Домашняя страница. Кнопка блога #}
                {% trans 'home_page_blog_button' %}
            </a>
            <a href="https://github.com/Seg-mel/pirsipy_test" class="github-link" target="_blank">
                {# Translators: Домашняя страница. Ссылка на github #}
                {% trans 'home_page_github_link' %}
            </a>
            <a href="https://bitbucket.org/Seg-mel/pirsipy_test/" class="github-link" target="_blank">
                {# Translators: Домашняя страница. Ссылка на bitbucket #}
                {% trans 'home_page_bitbucket_link' %}
            </a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}