$BLOG_WIDTH: 1000px;

$HEADER_HEIGHT: 50px;
$HEADER_MARGIN_TB: 5px;

$PAGINATION_HEIGHT: $HEADER_HEIGHT;
$PAGINATION_MARGIN_TB: $HEADER_MARGIN_TB;

$CONTENT_MARGIN: $HEADER_MARGIN_TB;

$FOOTER_HEIGHT: $HEADER_HEIGHT;
$FOOTER_MARGIN_TB: $HEADER_MARGIN_TB;



.blogs-header, .blogs-content, .pagination-block, .blogs-footer, .post-item, .panel-heading {
  border-radius: 0;
}

.shadow {
  -moz-box-shadow: 2px 2px 2px #525252;
  -webkit-box-shadow: 2px 2px 2px #525252;
  box-shadow: 2px 2px 2px #525252;
}

.blogs-header {
  position: relative;
  height: $HEADER_HEIGHT;
  width: $BLOG_WIDTH;
  left: 0;
  right: 0;
  margin: 0 auto $HEADER_MARGIN_TB;
  color: #ffffff;
  background-color: #2765a3;
  border-color: #2765a3;
  @extend .shadow;
  .back-button {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
    span {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 26px;
      margin-left: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-right: 2px;
      border-radius: 50%;
      background-color: #1b4a7c;
      &:before {
        padding: 0;
        margin-left: 2px;
        margin-right: 3px;
      }
      &:hover {
        background-color: #2473b8;
        @extend .shadow;
      }
    }
  }
  div {
    text-align: center;
    height: $HEADER_HEIGHT;
    line-height: $HEADER_HEIGHT;
    margin: 0;
    font-weight: bold;
    font-size: 26px;
  }
  .logout-button {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
    span {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      font-size: 26px;
      margin-right: 10px;
      padding-top: 4px;
      padding-bottom: 2px;
      padding-right: 3px;
      border-radius: 50%;
      background-color: #1b4a7c;
      &:before {
        padding: 0;
        margin-left: 4px;
      }
      &:hover {
        background-color: #2473b8;
        @extend .shadow;
      }
    }
  }
}

.blogs-content {
  width: $BLOG_WIDTH;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #f4f4f4;
  @extend .shadow;
}

.active-pagination {
  @include calc("min-height",
                "(100% - #{$HEADER_HEIGHT + $PAGINATION_HEIGHT + $FOOTER_HEIGHT +
                                   $HEADER_MARGIN_TB + $PAGINATION_MARGIN_TB * 2 + $FOOTER_MARGIN_TB * 2})");
}
.inactive-pagination {
  @include calc("min-height",
                "(100% - #{$HEADER_HEIGHT + $FOOTER_HEIGHT + $HEADER_MARGIN_TB + $FOOTER_MARGIN_TB * 2})");
}

.blogs-footer {
  position: relative;
  height: $FOOTER_HEIGHT;
  width: $BLOG_WIDTH;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: $FOOTER_MARGIN_TB;
  margin-bottom: $FOOTER_MARGIN_TB;
  color: #ffffff;
  background-color: #2765a3;
  border-color: #2765a3;
  @extend .shadow;
  div {
    text-align: center;
    height: $FOOTER_HEIGHT;
    line-height: $FOOTER_HEIGHT;
    margin: 0;
  }
  .language_choice {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    margin-right: 5px;
    .language-link {
      color: #ffffff;
    }
  }
}