.blogs-header {
  .add-post-button {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
    span {
      position: absolute;
      top: 50%;
      right: 38px;
      transform: translate(0, -50%);
      font-size: 26px;
      margin-right: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-right: 2px;
      border-radius: 50%;
      background-color: #1b4a7c;
      &:before {
        padding: 0;
        margin-left: 5px;
      }
      &:hover {
        background-color: #2473b8;
        @extend .shadow;
      }
    }
  }
}

.blogs-content {
  .link-post-item{
    text-decoration: none;
    &:hover, &:active {
      text-decoration: none;
    }
    .post-item {
      margin: $CONTENT_MARGIN;
      &:hover, &:active {
        opacity: 0.9;
        @extend .shadow;
      }
      .panel-body{
        display: inline-block;
        width: 100%;
        & > * {
          float: left;
        }
        img {
          margin-right: $CONTENT_MARGIN;
          border-radius: 4px;
        }
        .short-body {
          @include calc("width", "100% - 55px");
          word-wrap: break-word;
        }
      }
    }
  }
}

.pagination-block {
  position: relative;
  width: $BLOG_WIDTH;
  height: $PAGINATION_HEIGHT;
  left: 0;
  right: 0;
  margin: $PAGINATION_MARGIN_TB auto;
  background-color: #f4f4f4;
  @extend .shadow;
  .pagination-wrapper {
    height: $PAGINATION_HEIGHT;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .pagination {
      margin: 8px auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }
}