.post-content, .panel-heading, .blog_post_body {
  border-radius: 0;
}

.blogs-content {
  .post-content {
    margin: 5px;
    .panel-heading {
      .panel-title {
        span {
          margin: 0;
        }
      }
    }
    .panel-body {
      .blog_post_body {
        margin-top: 5px;
      }
    }
  }
}