{% extends '_base.html' %}

{% load bootstrap3 %}
{% load thumbnail %}
{% load i18n %}



{% block header %}
    <div class="panel panel-default blogs-header">
        {% block back_button %}{% endblock %}

        {# Translators: Базовая часть станицы блога. Заголовок шапки #}
        <div>{% trans 'base_blog_page_title' %}</div>

        {% block add_post_button %}{% endblock %}

        <a class="logout-button" href="{% url 'accounts:logout' %}">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </div>
{% endblock %}

{% block content %}
    {% block blog_content %}{% endblock %}

    {% block pagination %}{% endblock %}
{% endblock %}

{% block footer %}
    <div class="panel panel-default blogs-footer">
        {# Translators: Базовая часть станицы блога. Текст футера #}
        <div>{% trans 'base_blog_page_footer' %}</div>
        <div class="language_choice">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <a class="language-link" href="#">{{ language.code|title }}</a>
                {% if not forloop.last %}/{% endif %}
                <input type="hidden" value="{{ language.code }}">
            {% endfor %}
        </div>

        <form name="changeLanguage" action="{% url 'set_language' %}" method="post" style="display: none">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
                <option value="ru" selected="selected"></option>
            </select>
        </form>
    </div>
{% endblock %}
