{% extends 'blog/_base_blog.html' %}

{% load bootstrap3 %}
{% load thumbnail %}


{% block back_button %}
    <a class="back-button" href="{% url 'home' %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
{% endblock %}

{% block add_post_button %}
    {% if user.is_authenticated %}
        <a class="add-post-button" href="{% url 'blog:post_add' user.username %}">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    {% endif %}
{% endblock %}

{% block blog_content %}
    <div class="panel panel-default blogs-content active-pagination">
        {% for post in page %}
            <a href="{% url 'blog:blog_post' username post.slug %}" class="link-post-item">
                <div class="panel panel-primary post-item">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>[{{ post.created|date:'d.m.Y' }}] </span>
                            <span>{{ post.title }}</span>
                        </h3>
                    </div>

                    <div class="panel-body">
                        {% thumbnail post.image "50x50" crop="center" as image %}
                            <img src="{{ image.url }}" alt="">
                        {% endthumbnail %}
                        <span class="short-body">{{ post.short_body }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block pagination %}
    <div class="panel panel-default pagination-block">
        <nav class="pagination-wrapper">
            <ul class="pagination">
                <li class="{% if not page.has_previous %}disabled{% endif %}">
                    {% if page.has_previous %}
                        <a href="{% if page.has_previous %}{% url 'blog:blog_page' username page.previous_page_number %}{% endif %}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% else %}
                        <span aria-hidden="true">&laquo;</span>
                    {% endif %}
                </li>
                {% for page_num in page.paginator.page_range %}
                    <li class="{% if page_num == page.number  %}active{% endif %}">
                        <a href="{% url 'blog:blog_page' username page_num %}">{{ page_num }}</a>
                    </li>
                {% endfor %}
                <li class="{% if not page.has_next %}disabled{% endif %}">
                    {% if page.has_next %}
                        <a href="{% if page.has_next %}{% url 'blog:blog_page' username page.next_page_number %}{% endif %}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% else %}
                        <span aria-hidden="true">&raquo;</span>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}