{% extends 'blog/_base_blog.html' %}

{% load bootstrap3 %}
{% load thumbnail %}



{% block back_button %}
    <a class="back-button" href="{% url 'blog:blog_page' username 1 %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
{% endblock %}

{% block blog_content %}
    <div class="panel panel-default blogs-content inactive-pagination">
        <div class="panel panel-primary post-content">
            <div class="panel-heading">
                <h3 class="panel-title">{{ blog_post.title }}
                    <span class="navbar-text navbar-right">[{{ blog_post.created|date:'d.m.Y' }}]</span>
                </h3>

            </div>
            <div class="panel-body">
                {% if blog_post.image %}
                    {% if blog_post.image|is_portrait %}
                        {% thumbnail blog_post.image "x600" crop="top" as image %}
                            <img src="{{ image.url }}" />
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail blog_post.image "955" crop="top" as image %}
                            <img src="{{ image.url }}" />
                        {% endthumbnail %}
                    {% endif %}
                {% endif %}
                <div class="panel panel-default blog_post_body">
                    <div class="panel-body">
                        {{ blog_post.body|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}