{% extends 'blog/_base_blog.html' %}

{% load bootstrap3 %}
{% load thumbnail %}
{% load i18n %}



{% block back_button %}
    <a class="back-button" href="{% url 'blog:blog_page' user.username 1 %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
{% endblock %}

{% block blog_content %}
    <div class="panel panel-default blogs-content inactive-pagination">
        <div class="panel panel-default add-post-form">
            <form class="" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">
                    {# Translators: Страница добавления поста блога. Кнопка сохранить #}
                    {% trans 'blog_add_post_page_save_button' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}