{% spaceless %}

{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load filters %}
{% load bootstrap3 %}
{% load scss %}
{% load coffeescript %}


<!DOCTYPE html>
<html>
    <head>
        <title>Pisipy test</title>

        {% bootstrap_css %}
        <link href="{{ STATIC_URL}}{% scss "css/main.scss" %}" type="text/css" rel="stylesheet">
        <link href="{% static 'fonts/Grands-icon-font/style.css' %}" type="text/css" rel="stylesheet">

        <script type="text/javascript" src="{% bootstrap_jquery_url %}"></script>
        <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/main.coffee" %}"></script>
        {% bootstrap_javascript %}

        {% block current_page_styles %}{% endblock %}

        {% block current_page_js %}{% endblock %}

    </head>
    <body>
        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>

{% endspaceless %}