.core-home-block {
  width: 200px;
  @extend .hv-center;
  .block-wrapper {
    width: 200px;
    .btn {
      width: 100%;
      margin: 5px;
    }
    .github-link {
      display: block;
      text-align: center;
      margin: 5px;
    }
  }
}
