html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

head {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 11pt;
  overflow-x: hidden;
  padding-top: 5px;
  box-sizing: border-box;
}

.hv-center {
  position: relative;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}