.accounts-login-block {
  width: 200px;
  text-align: center;
  @extend .hv-center;
  .block-wrapper {
    .login-form {
      margin-bottom: 10px;
    }
  }
}

.social_buttons {
  text-align: center;
  font-size: 0;
  white-space: nowrap;
  & > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 3px;
    line-height: 40px;
    &:hover {
      color: #fff;
      opacity: .9;
      text-decoration: none;
    }
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
  .facebook {
    background-color: #344c86;
  }
  .vkontakte {
    background-color: #416083;
  }
  .google-plus {
    background-color: #cd3a2c;
  }
  .of-google-plus, #google-plus {
    display: none;
  }
}

